div.filter-button { 
    float: right;
    clear: left;
    vertical-align: middle;
    /*padding: 5px 7px 0 0;*/
}

#filter-form .row {
    margin-bottom: 15px;
}

.search-button {
    padding: 10px 10px 0 0
}