/* this will go away when i move to using bootstrap table with panel */
table thead th.caller-header { 
    width: 150px;
}

div.filter-button { 
    float: right;
    clear: left;
    vertical-align: middle;
    /*padding: 5px 7px 0 0;*/
}

#filter-form .row {
    margin-bottom: 15px;
}
