@{
    ViewBag.Title = "Calls List";
}

<div id="call-filters">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                @* for mobile, but not right now
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>*@
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Call List</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                @*<ul class="nav navbar-nav">
                    <li class="active"><a href="@Url.Action("Index", "Home")">Call List <span class="sr-only">(current)</span></a></li>
                </ul>*@
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="javascript:void(null);" data-bind="click: toggleSearch">Filter Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="panel panel-default" data-bind="visible: showFilters">
        <div class="panel-heading">Call List Filters</div>
        <div class="panel-body">
            <form id="filter-form" class="form-horizontal" data-bind="submit: searchCallList @* , event: { change: searchCallList } *@">
                <div class="form-group">
                    <label for="filter-phone-number" class="col-sm-2 control-label">Phone Number</label>
                    <input type="tel" id="filter-phone-number" class="form-control" placeholder="Phone Number" data-bind="textInput: currentFilter().phoneNumber"/>
                </div>
                <div class="form-group">
                    @* possibly add a dropdown to say duration in seconds/minutes/hours *@
                    <label for="filter-duration" class="col-sm-2 control-label">Call Duration (in minutes)</label>
                    <input type="number" id="filter-duration" class="form-control" placeholder="Duration" data-bind="textInput: currentFilter().callDuration"/>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="calls-list">
    @*
        todo: use a bootstrap grid here instead of these inline styles 
        https://getbootstrap.com/examples/grid/
    *@
    <table id="call-list-grid" class="table table-striped">
    <thead>
        <tr>
            <th class="phone-header">Number</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: callsList">
        <tr>
            <td data-bind="text: $data.number"></td>
            <td data-bind="text: $root.formatDuration($data.duration)"></td>
        </tr>
    </tbody>
    </table>
</div>


@Scripts.Render("~/Scripts/Home/Index.js")
@Styles.Render("~/Content/Home/Index.css")

