@{
    ViewBag.Title = "Calls List";
}

<h1>About</h1>

<p class="lead">Hello! Welcome to my demo project showcasing searching a call list using .NET MVC C# with WebAPI, knockout.js, and a little jQuery.</p>

<address>
    <strong>Eric Butera</strong><br />
    Traverse City, MI 49686<br />
    <a href="mailto:eric@ericbutera.com">eric@ericbutera.com</a><br />
</address>

<ul>
    <li><a href="http://ericbutera.com/" target="_blank">My Website</a></li>
    <li><a href="http://github.com/ericbutera/" target="_blank">Github</a></li>
    <li><a href="https://www.linkedin.com/in/ericbutera" target="_blank">LinkedIn</a></li>
    <li><a href="http://beknown.com/eric-butera" target="_blank">Monster.com Profile</a></li>
</ul>