USE [master]
GO
/****** Object:  Database [CallDemo]    Script Date: 5/26/2016 10:46:38 AM ******/
CREATE DATABASE [CallDemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CallDemo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CallDemo.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CallDemo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CallDemo_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CallDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CallDemo]
GO
/****** Object:  Table [dbo].[CallLog]    Script Date: 5/26/2016 10:46:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CallLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Duration] [int] NOT NULL,
	[Number] [char](15) NOT NULL,
	[Extension] [varchar](50) NULL,
	[DateCalled] [datetime] NOT NULL,
 CONSTRAINT [PK_CallLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

insert into CallLog (Duration, Number, Extension, DateCalled) VALUES (987,	2315555555,	123,	'2016-05-23 08:15:22')
insert into CallLog (Duration, Number, Extension, DateCalled) VALUES (765,	2315555556,	NULL,	'2016-05-23 13:32:12')
insert into CallLog (Duration, Number, Extension, DateCalled) VALUES (432,	2315555557,	3476,	'2016-05-24 10:49:31')
GO

USE [master]
GO
